@mixin special {
  color: #fff;
  background-color: #befc6d;
  border: 1px dotted #5f951e;
  margin: auto;
}

a.nav {
  @include special;
}

a.nav:hover {
  @include special;
  border: 1px yellow solid;
}


a.nav {
  color: #fff;
  background-color: #befc6d;
  border: 1px dotted #59950c;
}

a.nav:hover {
  color: #fff;
  background-color: #befc6d;
  border: 1px dotted #59950c;
  border: 1px yellow solid;
}