@(implicit request: Http.Request)
@import helper._
@import views.html.partials._booksFormFields

@layout("Create Book"){
    <h1>Create Book</h1>
    @helper.form(action = routes.BooksController.save()){



        <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus"></i> Create Book</button>
    }
}