@(implicit request: Http.Request)
@import helper._
@import views.html.partials._booksFormFields

@layout("Edit Book"){
    <h1>Edit Book</h1>



    <button class="btn btn-primary" onclick="sendPutRequest('bookUpdateForm','@routes.BooksController.edit(1)">Edit Book</button>
}