@(books : List[Book])

@layout("All Books"){
    <h1>All Books</h1>
    @for(book <- books){
        <a class="btn btn-link" href="@routes.BooksController.show(book.getId())">@book.getName</a>
        <p>Price : @book.getPrice</p>
        <p>Author : @book.getPublisher</p>
    }
}