@(book: Book)

@layout(book.getName){
    <h2>@book.getName</h2>
    <p>Price : @book.getPrice $</p>
    <p>Author : @book.getPublisher</p>

    <a class="btn btn-primary" href="@routes.BooksController.edit(book.getId())">Edit</a>

    <button class="btn btn-danger" onclick="sendDeleteRequest(
        '@routes.BooksController.destroy(book.getId())',
         '@routes.HomeController.index()'
    )">Delete</button>

}