.container {
	padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: flex-start;*/
}


.item {
    background: linear-gradient(to bottom right, #ff0000, #ff8343);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  text-align: center;
}

