
body {
    font-family: sans-serif;

    position: center;
}

.navbar {
    background-color: #313236;
    border-radius: 2px;
    max-width: 800px;
}

img {
    float: left;

}

#movelesson {


}

.navbar a {
    color: #aaa;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
}

#mail {
    color: #ff0c1c;
    border-left: 5px solid;
    padding-left: 5px;
}

#phoneApp {
    color: rgba(15, 89, 14, 0.93);
    border-left: 5px solid;
    padding-left: 5px;
}

.hidden {
    opacity: 0;
}

.console-container {

    font-family: Khula;
    font-size: 4em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

#A {
    z-index: 10;
    position: absolute;
    top: 175px;
    left: 200px;
}

#B {
    z-index: 20;
    position: absolute;
    top: 275px;
    left: 100px;
}

body {
    height: 800px;
}

#picture {
    height: 600px;
}

img[src*="pngkreis"] {

    -webkit-shape-outside: circle(110px);
    shape-outside: circle(110px);
}


#C {
    z-index: 30;
    position: absolute;
    top: 275px;
    left: 100px;
}