.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

body {
  padding: 2em;
}

@media screen and (min-width: 600px) {
	.aside-1 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	}
	.aside-2 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	}
	/* body{ */
		/* background: blue; */
	/* } */
}

