/* .wrapper { */
  /* display: -webkit-box; */
  /* display: -moz-box; */
  /* display: -ms-flexbox; */
  /* display: -webkit-flex; */
  /* display: flex;  */
  /* -webkit-flex-flow: row wrap; */
  /* flex-flow: row wrap; */
  /* font-weight: bold; */
  /* text-align: center; */
/* } */

/* .wrapper > * { */
  /* padding: 10px; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 100%; */
/* } */

/* .header { */
  /* background: tomato; */
/* } */

/* .footer { */
  /* background: lightgreen; */
/* } */

/* .main { */
  /* text-align: left; */
  /* background: deepskyblue; */
/* } */

/* .aside-1 { */
  /* background: gold; */
/* } */

/* .aside-2 { */
  /* background: hotpink; */
/* } */

/* body { */
  /* padding: 2em; */
/* } */

@media print {
    .header, .main, .aside-1, .aside-2, .footer {
      background-color: white;
      border: 1px solid black;
    }
} 