.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

body {
  padding: 2em;
}

@media screen and (min-width: 600px) {
	.aside-1 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	}
	.aside-2 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	}
	/* body{ */
		/* background: blue; */
	/* } */
}


@media screen and (min-width: 800px){
	.aside-1 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	order: 1;
	}
	.aside-2 {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	order: 3;
	}
	.main {
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	order: 2;
	}
	.footer{
		order: 4;
	}
	
	/* body{ */
		/* background: blue; */
	/* } */
}


@media screen and (max-width: 600px) {
	td:nth-child(1), td:nth-child(4) {
		display: none;	
	}
	
	/* body{ */
		/* background: blue; */
	/* } */
}

@keyframes colors {
    from {background-color: deepskyblue;}
    to {background-color: white;}
}
@media screen and (min-width: 800px) {
  .animation {
      background-color: white;
      animation-name: colors;
      animation-duration: 3s;
  }
}
